<hr>
<div id="chat-content">
  <div class="start-chat d-flex align-items-center mb-3">
    <div class="contact-photo mr-3">
      <%= cl_image_tag chatroom.users.find { |u| u != @user }.photo.key, class: "big-avatar-semi-square" %>
    </div>
    <div class="contact-infos">
      <h5><%= chatroom.users.find { |u| u != @user }.first_name.capitalize %> <%= chatroom.users.find { |u| u != @user }.last_name.capitalize %></h5>
      <div class="contact-projects d-flex">
        <% unless chatroom.users.find { |u| u != @user }.projects.nil? %>
          <% chatroom.users.find { |u| u != @user }.projects.each do |project| %>
            <p><%= project.title %></p>
            <% unless chatroom.users.find { |u| u != @user }.projects.last == project %>
              <p> // </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <p>This is the start of your conversation with <%= chatroom.users.find { |u| u != @user }.first_name.capitalize %>. Your are the only two people in this private chatroom.</p>
  <hr>
  <div class="mt-3" id="messages" data-chatroom-id="<%= chatroom.id %>" data-user-id="<%= current_user.id %>">
    <% chatroom.messages.each_with_index do |message, i| %>
      <%= render 'chatrooms/chatroom_message_new', message: message %>
    <% end %>
  </div>
</div>

  <div class="new-message-input">
    <div class="new-input-box">
      <%= render 'chatrooms/message_form', user: current_user, chatroom: chatroom, message: message %>
    </div>
  </div>

  <script>

    document.querySelector('.btn-send').addEventListener('click', ()=>{
        document.dispatchEvent(new KeyboardEvent('keypress', {'key': 'enter'}));
        document.dispatchEvent(new KeyboardEvent('keypress', {'code': '13'}));
    });

  </script>
