<h5>All of the components are listed here, you can just open "views/pages/components.html.erb" are take the html
code --> copie/paste, no cute !</h5>

<h3>Of course you have to changes the paths !</h3>
<h3>Of course the html form depends on the url, be careful !</h3>

<h1>There are the buttons</h1>

<ol>
  <li>
    <p>Delete a project:</p>
    <%= link_to "Delete project", root_path, class:"delete-btn" %>
  </li>
  <li>
    <p>Cancel request:</p>
    <%= link_to "Cancel request", root_path, class:"delete-btn" %>
  </li>
  <li>
    <p>Saves changes:</p>
    <%= link_to "SAVE CHANGES", root_path, class:"first-important-btn" %>
  </li>
  <li>
    <p>Published a project:</p>
    <%= link_to "PUBLISH THE PROJECT", root_path, class:"first-important-btn" %>
  </li>
  <li>
    <p>Join a project:</p>
    <div class="first-important-btn">
      <i class="fas fa-plus"></i>
      <%= link_to "JOIN THE PROJECT", root_path %>
    </div>
  </li>
  <li>
    <p>Invite friends on slack:</p>
    <div class="second-important-btn">
      <i class="fab fa-slack"></i>
      <%= link_to "Invite friends on slack", root_path %>
    </div>
  </li>
  <li>
    <p>Share the project:</p>
    <div class="share-the-project-btn">
      <i class="fas fa-share-square"></i>
      <%= link_to "Share the project" %>
    </div>
  </li>
</ol>

<h1>There are the tags</h1>

<ol>
  <li>
    <p>Admin:</p>
    <div class="admin-btn">
      <p>Admin</p>
    </div>
  </li>
  <li>
    <p>Member:</p>
    <div class="admin-btn">
      <p>Member</p>
    </div>
  </li>
  <li>
    <p>Pending request:</p>
    <div class="pending-request-btn">
      <i class="fas fa-hourglass-half"></i>
      <p>PENDING REQUEST</p>
    </div>
  </li>
  <li>
    <p>Languages or github notification</p>
    <div class="skills-btn">
      <p>HTML</p>
    </div>
    <br>
  </li>
</ol>

<!-- <div class="bg-white py-3 my-3">
  <div class="skills-btn">
    <i class="fab fa-js-square"></i>
    <p>Vue JS</p>
  </div>

  <div class="skills-btn">
    <p>New member</p>
    <i class="fas fa-hands-helping"></i>
  </div>
</div> -->

<h1>There are the features</h1>

<div class="features-background">
  <div class="features-title">
    <h5>Main feature #1: Adding a search map</h5>
  </div>
  <hr>
  <div class="features-logos">
    <div class="features-avatars">
      <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar-large">
      <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2F2018.2F10.2F18.2F2ccbda1a-7cf3-4858-8b56-36840d5b9b19.2Ejpeg/480x480/quality/80/focus-point/1447%2C851/cristiano-ronaldo-dans-la-tourmente-c-est-parti-pour-durer.jpg" class="avatar-large">
    </div>
  </div>
  <div class="features-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quas iste sed nobis, pariatur beatae, illo unde officia, perferendis odit et asperiores veritatis velit,
      accusamus non. Minus atque maxime, explicabo temporibus, nesciunt a eveniet tenetur impedit
      laudantium minima doloribus dolor similique, nulla quasi nemo cum ullam molestiae quas,
      dolores illum. Molestias dolorem aspernatur error fugiat recusandae? Vero maiores possimus adipisci blanditiis,
      voluptas voluptates doloribus accusamus vitae pariatur quis explicabo itaque inventore praesentium obcaecati deleniti.
    </p>
  </div>
  <div class="features-languages">
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
  </div>
</div>

<h1>There are the teams boxes</h1>

<div class="team-box">
  <div class="team-box-title">
    <h5>Team</h5>
  </div>
  <hr>
  <div class="team-members">
    <div class="resum-member">
      <div class="member-infos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Zinedine_Zidane_by_Tasnim_01.jpg" class="avatar-large">
        <div class="member-name-batch">
          <h5>Zinédine Zidane</h5>
          <p>#Batch 1998 (Paris)</p>
        </div>
        <div class="admin-btn">
          <p>Admin</p>
        </div>
      </div>
      <div class="member-skills">
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Pro</p>
          </div>
        </div>
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Beginner</p>
          </div>
        </div>
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Medium</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resum-member">
      <div class="member-infos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Zinedine_Zidane_by_Tasnim_01.jpg" class="avatar-large">
        <div class="member-name-batch">
          <h5>Zinédine Zidane</h5>
          <p>#Batch 1998 (Paris)</p>
        </div>
        <div class="admin-btn">
          <p>Admin</p>
        </div>
      </div>
      <div class="member-skills">
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Pro</p>
          </div>
        </div>
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Beginner</p>
          </div>
        </div>
      </div>
    </div>
    <div class="resum-member">
      <div class="member-infos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Zinedine_Zidane_by_Tasnim_01.jpg" class="avatar-large">
        <div class="member-name-batch">
          <h5>Zinédine Zidane</h5>
          <p>#Batch 1998 (Paris)</p>
        </div>
        <div class="admin-btn">
          <p>Admin</p>
        </div>
      </div>
      <div class="member-skills">
        <div class="one-skill">
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Vue JS</p>
          </div>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p>Pro</p>
          </div>
        </div>
      </div>
    </div>
    <div class="second-important-btn">
      <i class="fab fa-slack"></i>
      <%= link_to "Invite friends on slack", root_path %>
    </div>
  </div>
</div>

<h1>This this the page title</h1>
<br>

<div class="page-title-box">
  <div class="page-title-description">
    <div class="page-title">
      <h1>Edit</h1>
      <div class="project-name">
        <h1>Side Ninja</h1>
      </div>
    </div>
    <div class="under-title">
      <div class="project-tag-line">
        <p>The best project I've ever done.</p>
      </div>
      <%= link_to "Delete project", root_path, class:"delete-btn" %>
    </div>
  </div>
  <div class="first-important-btn">
    <i class="fas fa-plus"></i>
    <%= link_to "JOIN THE PROJECT", root_path %>
  </div>
</div>


<h1>This are the resum projects boxes</h1>

<div class="resum-project-box">
  <div class="resum-project-title">
    <h5>Side Ninjas</h5>
    <i class="fab fa-github"></i>
    <i class="fas fa-tv"></i>
  </div>
  <hr>
  <div class="resum-project-content">
    <div class="resum-project-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, suscipit.
      Sed, qui cupiditate, inventore dolor laudantium nam quam! Nesciunt quibusdam amet deleniti praesentium enim,
      quam nulla hic harum, fugiat omnis. Enim nesciunt, cumque voluptas laborum quisquam debitis consectetur esse
      laudantium quibusdam numquam! Facere voluptatem, deleniti incidunt beatae fuga exercitationem ipsa nesciunt
      optio nostrum repellat dignissimos iste, et. Tempore, mollitia. Commodi at iusto voluptate, optio.</p>
    </div>
    <div class="resum-project-images">
      <p>Photos of the project</p>
      <div class="resum-project-pictures">
        <img src="https://mfr-azay.fr/wp-content/uploads/2019/06/Coding5-e1560407537967.jpg" class="resum-project-photos">
        <img src="https://i.ytimg.com/vi/v9Xse_PDmH0/maxresdefault.jpg" class="resum-project-photos">
      </div>
    </div>
    <div class="resum-project-tags">
      <div class="skills-btn">
        <i class="fab fa-js-square"></i>
        <p>Vue JS</p>
      </div>
      <div class="skills-btn">
        <i class="fab fa-js-square"></i>
        <p>Vue JS</p>
      </div>
      <div class="skills-btn">
        <i class="fab fa-js-square"></i>
        <p>Vue JS</p>
      </div>
    </div>
  </div>
</div>





