<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>There are the buttons</h1>

<div class="admin-btn">
  <p>Admin</p>
</div>

<div class="admin-btn">
  <p>Member</p>
</div>

<div class="mt-3">
  <%= link_to "SAVE CHANGES", root_path, class:"first-important-btn" %>
  <%= link_to "PUBLISH THE PROJECT", root_path, class:"first-important-btn" %>
  <div class="first-important-btn">
    <i class="fas fa-plus"></i>
    <%= link_to "JOIN THE PROJECT", root_path %>
  </div>
</div>

<div class="pending-request-btn">
  <i class="fas fa-hourglass-half"></i>
  <p>PENDING REQUEST</p>
</div>

<div class="second-important-btn">
  <i class="fab fa-slack"></i>
  <%= link_to "Invite friends on slack", root_path %>
</div>

<div class="second-important-btn">
  <i class="fas fa-plus"></i>
  <%= link_to "Invite friends on slack", root_path %>
</div>

<div class="second-important-btn">
  <p>HTML / CSS</p>
</div>

<div class="share-the-project-btn">
  <i class="fas fa-share-square"></i>
  <%= link_to "Share the project" %>
</div>

<div class="bg-white py-3 my-3">
  <div class="skills-btn">
    <i class="fab fa-js-square"></i>
    <p>Vue JS</p>
  </div>

  <div class="skills-btn">
    <p>New member</p>
    <i class="fas fa-hands-helping"></i>
  </div>
</div>

<h1>There are the features</h1>

<div class="features-background">
  <div class="features-title">
    <h5>Main feature #1: Adding a search map</h5>
  </div>
  <div class="features-logos">
    <div class="features-avatars">
      <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar">
      <img src="https://tmssl.akamaized.net/images/portrait/originals/8198-1568120625.jpg" class="avatar">
    </div>
  </div>
  <div class="features-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quas iste sed nobis, pariatur beatae, illo unde officia, perferendis odit et asperiores veritatis velit,
      accusamus non. Minus atque maxime, explicabo temporibus, nesciunt a eveniet tenetur impedit
      laudantium minima doloribus dolor similique, nulla quasi nemo cum ullam molestiae quas,
      dolores illum. Molestias dolorem aspernatur error fugiat recusandae? Vero maiores possimus adipisci blanditiis,
      voluptas voluptates doloribus accusamus vitae pariatur quis explicabo itaque inventore praesentium obcaecati deleniti.
    </p>
  </div>
  <div class="features-languages">
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
    <div class="skills-btn">
      <i class="fab fa-js-square"></i>
      <p>Vue JS</p>
    </div>
  </div>
</div>














