<div class="search-title-box">
  <div class="search-title-description">
    <div class="search-title">
      <h1>Search a project</h1>
    </div>

<%= form_tag projects_path, method: :get do %>
  <%= select_tag :language, options_for_select(@languages, params[:language]),
    multiple: true, class: 'select2-multiple'
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


    <div class="under-title">
      <div class="project-tag-line">
        <% if Project.all.count >=2 %>
          <p><%= Project.all.count %> projects are matching your research.</p>
        <% elsif Project.all.count == 1 %>
          <p><%= Project.all.count %> project is matching your research.</p>
        <% else %>
          <p> No projects are matching your research.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @projects.each do |project|%>

  <div class="row mt-5">
    <div class="col-8">
      <div class="resum-project-box">
        <div class="project-header">
          <div class="resum-project-title">
            <h5><%= project.title %></h5>
          </div>
          <div class="pending-request-btn">
            <i class="fas fa-hourglass-half"></i>
            <p><%= distance_of_time_in_words(project.start_date, Date.today) %> ago</p>
          </div>
        </div>
        <hr>
        <div class="resum-project-content">
          <div class="search-project-description">
            <h5><%= project.tag_line %></h5>
            <p><%= project.description %></p>
          </div>
          <div class="resum-project-images">
            <div class="resum-project-pictures">
              <% project.participations.each do |participation| %>
                <%= cl_image_tag participation.user.photo.key, class: "avatar-large mr-3" %>
              <% end %>
            </div>
          </div>
          <div class="bottom-search-project">
            <div class="resum-project-tags">
              <% project.project_languages.each do |tag| %>
                <div class="skills-btn">
                  <%= cl_image_tag tag.language.photo.key, class: "language-tag-img" %>
                  <p><%= tag.language.name %></p>
                </div>
              <% end %>
            </div>
            <div class="second-important-btn">
              <i class="fas fa-search"></i>
              <%= link_to "See details", project_path(project) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag projects_path, method: :get do %>
  <%= select_tag :language, options_for_select(@languages, params[:language]),
    multiple: true, class: 'select2-multiple'
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>


