<h1>Search for a project</h1>

  <% @projects.each do |project|%>
<div class="project-container">
  <ul>
    <li>
    <%= project.title %>
    <%= project.tag_line %>
    <%= project.description %>
    <%= project.github_repository %>
    <%= project.trello_link %>
    <%= project.start_date %>
    <%= project.website_link %>
    <%= project.tag %>
    <%= link_to "see more", project_path(project)  %>

<% if policy(project).update? %>
    <%= link_to "edit", edit_project_path(project) %>
<% end %>
    </li>
  </ul>
  <% end %>
</div>
<%= link_to  "create a project", new_project_path %>


<%= link_to "Log out", destroy_user_session_path, method: :delete %>
