<h1>Search for a project</h1>

<%= form_tag projects_path, method: :get do %>
  <%= select_tag :language, options_for_select(@languages, params[:language]),
    multiple: true, class: 'select2-multiple'
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "Reset", projects_path %>


  <% @projects.each do |project|%>
<div class="project-container">
  <ul>
    <li>
    <%= project.title %>
    <%= project.tag_line %>
    <%= project.description %>
    <%= project.github_repository %>
    <%= project.trello_link %>
    <%= project.website_link %>
    <%= project.tag %>
    <%= distance_of_time_in_words(project.start_date, Date.today) %> ago
    <%= link_to "see more", project_path(project)  %>

<% if policy(project).update? %>
    <%= link_to "edit", edit_project_path(project) %>
<% end %>
    </li>
  </ul>
  <% end %>
</div>
<%= link_to  "create a project", new_project_path %>


<%= link_to "Log out", destroy_user_session_path, method: :delete %>

