<div class="back-btn">
  <%= link_to projects_path do%>
    <i class="fas fa-long-arrow-alt-left"></i>
    <p>Back</p>
  <% end %>
</div>

<div class="page-title-box">
  <div class="page-title-description">
    <div class="page-title">
      <h1>Add</h1>
      <div class="project-name">
        <h1>a new project</h1>
      </div>
    </div>
    <div class="under-title">
      <div class="project-tag-line">
        <p>The best project I've ever done.</p>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for(@project) do |f| %>
  <div class="row mt-5">
    <div class="col-8">
      <div class="resum-project-box">
        <div class="resum-project-title">
          <h5 style="width: 100%"><%= f.input :title, label: false, placeholder: "Title" %></h5>
        </div>
        <hr>
        <div class="resum-project-content">
          <div class="resum-project-description">
            <p><%= f.input :description, label: false, placeholder: "Description" %></p>
          </div>
          <div class="web-link">
              <h5><i class="fab fa-github"></i></h5> <%= f.input :github_repository, label: false, placeholder: "Github url" %>
              <h5><i class="fab fa-trello"></i></h5> <%= f.input :trello_link, label: false, placeholder: "Trello url" %>
          </div>
          <div class="resum-project-images">
            <div class="resum-project-pictures">
              <%= f.input :photos, label: "Photos of the project", as: :file, input_html: { multiple: true }, id: "image_upload_id"  %>
            </div>
          </div>

          <div class="language-create-project">
            <%= f.association :languages, label: "Select main languages" %>
          </div>

          <div class="resum-project-tags">
            <% @project.project_languages.each do |tag| %>
              <div class="skills-btn">
                <i class="fab fa-js-square"></i>
                <p><%= tag %></p>
              </div>
            <% end %>
              <%= f.input :website_link, label: false, placeholder: "Website url"  %>
              <%= f.input :tag, label: false, placeholder: "Tag" %>

              <%= f.hidden_field :start_date, value: Date.today %>
          </div>
            <%= button_tag class: "create-btn" do %>
              <i class="fas fa-plus m-2"></i>
              Save
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="team-box">
        <div class="team-box-title">
          <h5>Team</h5>
        </div>
        <hr>
        <div class="team-members">
            <div class="resum-member">
              <div class="member-infos">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Zinedine_Zidane_by_Tasnim_01.jpg" class="avatar-large">
                <div class="member-name-batch">
                  <h5><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h5>
                  <p>#Batch <%= current_user.batch_number %> <%= current_user.bootcamp_year %> (<%= current_user.city %>)</p>
                </div>
                <div class="admin-btn">
                    <p>Admin</p>
                </div>
              </div>
              <div class="member-skills">
                <% current_user.user_languages.each do |language| %>
                  <% if language.languages.frameworks.nil? %>
                    <div class="one-skill">
                      <div class="skills-btn">
                        <i class="fab fa-js-square"></i>
                        <p><%= language.languages.name %></p>
                      </div>
                      <div class="skills-btn">
                        <i class="fab fa-js-square"></i>
                        <p><%= language.level %></p>
                      </div>
                    </div>
                  <% else %>
                    <% language.languages.frameworks.each do |framework| %>
                      <div class="one-skill">
                        <div class="skills-btn">
                          <i class="fab fa-js-square"></i>
                          <p><%= language.languages.name %> <%= language.languages.framework.name %></p>
                        </div>
                        <div class="skills-btn">
                          <i class="fab fa-js-square"></i>
                          <p><%= language.level %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <div class="second-important-btn">
            <i class="fas fa-plus"></i>
            <%= link_to "Add a member", root_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.simple_fields_for :features do |feature| %>
    <% index = 0 %>
    <%= feature.input_field :id, class: "d-none" %>
    <div class="features-background">
      <div class="features-title">
        <h5>Main feature #<%= index + 1 %>: <%= feature.input :name %></h5>
      </div>
      <hr>
      <div class="features-logos">
        <div class="features-avatars">
          <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar-large">
          <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2F2018.2F10.2F18.2F2ccbda1a-7cf3-4858-8b56-36840d5b9b19.2Ejpeg/480x480/quality/80/focus-point/1447%2C851/cristiano-ronaldo-dans-la-tourmente-c-est-parti-pour-durer.jpg" class="avatar-large">
        </div>
      </div>
      <div class="features-description">
        <p><%= feature.input :description %></p>
      </div>
      <div class="features-languages">
        <% feature.object.feature_languages.each do |language| %>
          <% if language.languages.frameworks.nil? %>
            <div class="skills-btn">
              <i class="fab fa-js-square"></i>
              <p><% language.languages.name %></p>
            </div>
          <% else %>
            <% language.languages.frameworks.each do |framework| %>
            <div class="skills-btn">
              <i class="fab fa-js-square"></i>
              <p><% language.languages.name %> <%= language.languages.framework %></p>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% index += 1 %>
  <% end %>
<% end %>
