<div class="d-flex justify-content-between">
  <div class="back-btn">
    <%= link_to projects_path do%>
      <i class="fas fa-long-arrow-alt-left"></i>
      <p>Back</p>
    <% end %>
  </div>
  <div class="col-4 pending-request-page-title">
    <% if @project.participations.pending.map(&:user).include?(current_user) %>
      <%= link_to "Cancel my application", participation_path(@request_participation),
        method: :delete,
        class: "d-block text-center",
        data: { confirm: "Are you sure?" } %>
    <% elsif @project.participations.accepted.map(&:user).include?(current_user) %>
      <%= link_to "Leave the project", participation_path(@request_participation),
        method: :delete,
        class: "d-block text-center",
        data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<% @project.participations.each do |participation| %>
  <% if  @project.user == current_user %>
    <% if participation.accepted.nil? %>
      <div class="join-request">
        <ul>
          <h5>Asking for membership</h5>
            <li>
              <div class="pending-request">
                <div class="user-pending-request-avatar-name">
                  <% if participation.user.photo.attached? %>
                    <%= cl_image_tag participation.user.photo.key, class: "avatar-large mr-3" %>
                  <% else %>
                    <%= image_tag 'eric-zemmour.jpeg', class: "avatar-large mr-3" %>
                  <% end %>
                  <%= participation.user.first_name %> <%= participation.user.last_name %>
                </div>
                <div class="acceptations-yes-no">
                  <%= link_to 'Accept', accept_participation_path(participation), method: :post, class: "mr-5"  %>
                  <%= link_to 'Refuse', refuse_participation_path(participation), method: :post, remote: true %>
                </div>
              </div>
            </li>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>



      <% if policy(@project).destroy? %>
        <%= link_to "Delete #{@project.title}",
                        project_path(@project),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit #{@project.title}",edit_project_path(@project)%>
      <% end %>


<div class="row mt-3">
  <div class="col-8">
    <div class="resum-project-box">
      <div class="resum-project-title">
        <h5><%= @project.title %></h5>
        <h6><%= @project.tag %></h6>
      </div>
      <hr>
      <div class="project-tag-line">
        <p><%= @project.tag_line %></p>
      </div>
      <div class="resum-project-content">
        <div class="resum-project-description">
          <p><%= @project.description %></p>
        </div>
        <div class="web-link" id="link-center">
          <%= link_to "https://github.com/adrienfort/startupmexico", class: "github-link", target: "_blank" do %>
            <div class="d-flex align-items-center">
                <p><i class="fab fa-github mr-2"></i></p>
                <p>Github </p>
            </div>
          <% end %>
          <%# raise %>
          <% if (@project.participations.map {|u| u.user }.include?(current_user) && @project.participations.select {|u| u.user == current_user }.first.accepted) || @project.user == current_user  %>
            <%= link_to "https://trello.com/b/yufjZHIh/starupmexico", class: "github-link", target: "_blank" do %>
              <div class="d-flex align-items-center">
                  <p><i class="fab fa-trello mr-2"></i></p>
                  <p>Trello </p>
              </div>
            <% end %>
          <% end %>
          <%= link_to "https://www.startupmexico.com", class: "github-link", target: "_blank" do %>
            <div class="d-flex align-items-center">
              <p><i class="fas fa-globe mr-2"></i></p>
              <p>Product </p>
            </div>
          <% end %>
        </div>
        <div class="resum-project-images">
          <% if @project.photos.attached? %>
            <p>Photos of the project</p>
            <div class="resum-project-pictures">
              <% @project.photos.each do |photo| %>
                <%= cl_image_tag photo.key, class: "resum-project-photos" %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="<%= (controller.controller_name == 'projects' && controller.action_name == 'index') ? 'resum-project-tags' : 'resum-project-tags-show' %>">
          <% @project.project_languages.each do |tag| %>
            <div class="skills-btn">
              <%= cl_image_tag tag.language.photo.key, class: "language-tag-img" %>
              <p><%= tag.language.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex">
      <% if current_user != @project.user %>
        <% if  @project.participations.map(&:user).include?(current_user) %>
          <% if @project.participations.refused.map(&:user).include?(current_user) %>
            <p>Refused</p>
          <% end %>
        <% else %>
          <button type="button" class="submtit-btn-box join mb-3 flex-grow-1" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-plus mr-2"></i>
            Join the project
          </button>
        <% end %>
      <% end %>
    </div>
    <div class="team-box">
      <div class="team-box-title">
        <h5>Team</h5>
      </div>
      <hr>
      <div class="">
        <div class="members-container">
          <% @project.participations.accepted.each do |participation| %>
            <div class="resum-member">
              <div class="member-infos">
                <% if participation.user.photo.attached? %>
                  <%= cl_image_tag participation.user.photo.key, class: "avatar-large mr-3" %>
                <% else %>
                  <%= image_tag 'eric-zemmour.jpeg', class: "avatar-large mr-3" %>
                <% end %>
                <div class="member-name-batch">
                  <h5 class="m-0"><%= participation.user.first_name.capitalize %> <%= participation.user.last_name.capitalize %></h5>
                  <p>#Batch <%= participation.user.batch_number %> (<%= participation.user.city %>)</p>
                  <% if participation.admin %>
                  <div class="admin d-flex">
                    <i class="fas fa-crown mr-1"></i>
                    <p class="m-0 text-uppercase">Admin</p>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% @project.participations.pending.each do |participation| %>
            <div class="resum-member pending">
              <div class="d-flex">
                <div class="member-infos">
                  <% if participation.user.photo.attached? %>
                    <%= cl_image_tag participation.user.photo.key, class: "avatar-large mr-3" %>
                  <% else %>
                    <%= image_tag 'eric-zemmour.jpeg', class: "avatar-large mr-3" %>
                  <% end %>
                  <div class="member-name-batch">
                    <h5 class="m-0"><%= participation.user.first_name.capitalize %> <%= participation.user.last_name.capitalize %></h5>
                    <p>#Batch <%= participation.user.batch_number %> (<%= participation.user.city %>)</p>
                    <div class="pending-request-btn d-flex">
                      <i class="fas fa-hourglass-half mr-2"></i>
                      <p>PENDING</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="submtit-btn-box" id="submit-width-all" style="margin-top: 30px;">
        <%= simple_form_for([@project.user, @chatroom]) do |f| %>
          <i class="far fa-comment mr-2"></i>
          <%= f.hidden_field :project, value: @project.id %>
          <%= f.submit "Contact #{@admin.first_name}", class: "submit-contact-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @project.features.each_with_index do |feature, index| %>
  <div class="features-background">
    <div class="features-title">
      <h5>Main feature #<%= index + 1 %>: <%= feature.name %></h5>
    </div>
    <hr>
    <div class="features-logos">
      <div class="features-avatars">
        <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar-large">
        <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2F2018.2F10.2F18.2F2ccbda1a-7cf3-4858-8b56-36840d5b9b19.2Ejpeg/480x480/quality/80/focus-point/1447%2C851/cristiano-ronaldo-dans-la-tourmente-c-est-parti-pour-durer.jpg" class="avatar-large">
      </div>
    </div>

    <div class="features-description">
      <p><%= feature.description %></p>
    </div>
    <div class="features-languages">
      <% feature.feature_languages.each do |language| %>
        <% if language.language.frameworks.nil? %>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p><% language.languages.name %></p>
          </div>
        <% else %>
          <% language.language.frameworks.each do |framework| %>
            <div class="skills-btn">
              <i class="fab fa-js-square"></i>
              <p><% language.languages.name %> <%= language.language.framework %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply to join <%= @project.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'participations/new' %>
      </div>
    </div>
  </div>
</div>

