<div class="back-btn">
  <%= link_to projects_path do%>
    <i class="fas fa-long-arrow-alt-left"></i>
    <p>Back</p>
  <% end %>
</div>

<div class="page-title-box">
  <div class="page-title-description">
    <div class="page-title">
      <h1>Join</h1>
      <div class="project-name">
        <h1><%= @project.title %></h1>
      </div>
    </div>
    <div class="under-title">
      <div class="project-tag-line">
        <p><%= @project.tag_line %></p>
      </div>
      <% if current_user = @project.user %>
        <%= link_to "Delete project", root_path, class:"delete-btn" %>
      <% end %>
    </div>
  </div>
  <% if current_user != @project.user %>
    <div class="first-important-btn">
      <i class="fas fa-plus"></i>
      <%= link_to "JOIN THE PROJECT", root_path %>
    </div>
  <% end %>
</div>

<div class="resum-project-box">
  <div class="resum-project-title">
    <h5><%= @project.title %></h5>
    <i class="fab fa-github"></i>
    <i class="fas fa-tv"></i>
  </div>
  <hr>
  <div class="resum-project-content">
    <div class="resum-project-description">
      <p><%= @project.description %></p>
    </div>
    <div class="resum-project-images">
      <p>Photos of the project</p>
      <div class="resum-project-pictures">
        <img src="https://mfr-azay.fr/wp-content/uploads/2019/06/Coding5-e1560407537967.jpg" class="resum-project-photos">
        <img src="https://i.ytimg.com/vi/v9Xse_PDmH0/maxresdefault.jpg" class="resum-project-photos">
      </div>
    </div>
    <div class="resum-project-tags">
      <% @project.project_languages.each do |tag| %>
        <div class="skills-btn">
          <i class="fab fa-js-square"></i>
          <p><%= tag %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>




<h1><%= @project.title %></h1>
<%= @project.tag_line %>
<%= @project.description %>
<%= @project.github_repository %>
<%= @project.trello_link %>
<%= @project.start_date %>
<%= @project.website_link %>
<%= @project.tag %>

<%= link_to 'Back', projects_path %>

<%= link_to "Ask to join this project", new_project_participation_path(@project)  %>
<%= link_to "edit", edit_project_path %>

<% if policy(@project).update? %>
  <%= link_to "edit", edit_project_path %>
<% end %>

<% if policy(@project).destroy? %>

<%= link_to "Delete #{@project.title}",
                        project_path(@project),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
<% end %>

<% if @request_participation %>
  <p>Ma demande de participation à ce projet</p>
  <% if @request_participation.accepted %>
      <%= link_to "Leave #{@project.title}", participation_path(@request_participation),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% else %>
      <%= link_to "cancel my application", participation_path(@request_participation),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>


<% @features.each do |feature| %>
<ul>
  <li>
  <%= feature.name %>
  <%= feature.description %>
    </li>
  </ul>
<% end %>
