
<div class="back-btn">
  <%= link_to session[:history].last do%>
    <i class="fas fa-long-arrow-alt-left"></i>
    <p>Back</p>
  <% end %>
</div>

<div class="page-title-box">
  <div class="page-title-description">
    <div class="page-title">
      <!-- if participation est accepted = true -->
      <h1>Join</h1>
      <div class="project-name">
        <h1><%= @project.title %></h1>
      </div>
    </div>
    <div class="under-title">
      <div class="project-tag-line">
        <p><%= @project.tag_line %></p>
      </div>
      <% if policy(@project).destroy? %>
        <%= link_to "Delete #{@project.title}",
                        project_path(@project),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <% if current_user != @project.user %>
    <div class="first-important-btn">
      <i class="fas fa-plus"></i>
      <%= link_to "JOIN THE PROJECT", new_project_participation_path(@project) %>
    </div>
  <% end %>
</div>

<div class="row mt-5">
  <div class="col-8">
    <div class="resum-project-box">
      <div class="resum-project-title">
        <h5><%= @project.title %></h5>
        <h5><i class="fab fa-github"></i>
        <h5><i class="fas fa-tv"></i>

      </div>
      <hr>
      <div class="resum-project-content">
        <div class="resum-project-description">
          <p><%= @project.description %></p>
        </div>
        <div class="resum-project-images">
          <p>Photos of the project</p>
          <div class="resum-project-pictures">
            <img src="https://mfr-azay.fr/wp-content/uploads/2019/06/Coding5-e1560407537967.jpg" class="resum-project-photos">
            <img src="https://i.ytimg.com/vi/v9Xse_PDmH0/maxresdefault.jpg" class="resum-project-photos">
          </div>
        </div>
        <div class="resum-project-tags">
          <% @project.project_languages.each do |tag| %>
            <div class="skills-btn">
              <i class="fab fa-js-square"></i>
              <p><%= tag %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="team-box">
      <div class="team-box-title">
        <h5>Team</h5>
      </div>
      <hr>
      <div class="team-members">
        <% @project.participations.each do |participation| %>
          <div class="resum-member">
            <div class="member-infos">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Zinedine_Zidane_by_Tasnim_01.jpg" class="avatar-large">
              <div class="member-name-batch">
                <h5><%= participation.user.first_name.capitalize %> <%= participation.user.last_name.capitalize %></h5>
                <p>#Batch <%= participation.user.batch_number %> <%= participation.user.bootcamp_year %> (<%= participation.user.city %>)</p>
              </div>
              <div class="admin-btn">
                <% if @project.user.id == participation.user.id %>
                  <p>Admin</p>
                <% else %>
                  <p>Member</p>
                <% end %>
              </div>
            </div>
            <div class="member-skills">
              <% participation.user.user_languages.each do |language| %>
                <% if language.languages.frameworks.nil? %>
                  <div class="one-skill">
                    <div class="skills-btn">
                      <i class="fab fa-js-square"></i>
                      <p><%= language.languages.name %></p>
                    </div>
                    <div class="skills-btn">
                      <i class="fab fa-js-square"></i>
                      <p><%= language.level %></p>
                    </div>
                  </div>
                <% else %>
                  <% language.languages.frameworks.each do |framework| %>
                    <div class="one-skill">
                      <div class="skills-btn">
                        <i class="fab fa-js-square"></i>
                        <p><%= language.languages.name %> <%= language.languages.framework.name %></p>
                      </div>
                      <div class="skills-btn">
                        <i class="fab fa-js-square"></i>
                        <p><%= language.level %></p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="second-important-btn">
          <i class="fab fa-slack"></i>
          <%= link_to "Invite friends on slack", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>


<% @project.features.each_with_index do |feature, index| %>
  <div class="features-background">
    <div class="features-title">
      <h5>Main feature #<%= index + 1 %>: <%= feature.name %></h5>
    </div>
    <hr>
    <div class="features-logos">
      <div class="features-avatars">
        <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar-large">
        <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2F2018.2F10.2F18.2F2ccbda1a-7cf3-4858-8b56-36840d5b9b19.2Ejpeg/480x480/quality/80/focus-point/1447%2C851/cristiano-ronaldo-dans-la-tourmente-c-est-parti-pour-durer.jpg" class="avatar-large">
      </div>
    </div>

    <div class="features-description">
      <p><%= feature.description %></p>
    </div>
    <div class="features-languages">
      <% feature.feature_languages.each do |language| %>
        <% if language.languages.frameworks.nil? %>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p><% language.languages.name %></p>
          </div>
        <% else %>
          <% language.languages.frameworks.each do |framework| %>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p><% language.languages.name %> <%= language.languages.framework %></p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<%= link_to "Ask to join this project", new_project_participation_path(@project)  %>
<%#= link_to "edit", edit_project_path %>

<% if policy(@project).update? %>
  <%= link_to "edit", edit_project_path %>
<% end %>

<% if @request_participation %>
  <p>Ma demande de participation à ce projet</p>
  <% if @request_participation.accepted %>
      <%= link_to "Leave #{@project.title}", participation_path(@request_participation),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% else %>
      <%= link_to "cancel my application", participation_path(@request_participation),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
