<div class="back-btn">
  <%= link_to projects_path do%>
    <i class="fas fa-long-arrow-alt-left"></i>
    <p>Back</p>
  <% end %>
</div>

<div class="page-title-box">
  <div class="page-title-description">
    <div class="page-title">
      <!-- if participation est accepted = true -->
      <h1>Join</h1>
      <div class="project-name">
        <h1><%= @project.title %></h1>
      </div>
    </div>
    <div class="under-title">
      <div class="project-tag-line">
        <p><%= @project.tag_line %></p>
      </div>
      <% if policy(@project).destroy? %>
        <%= link_to "Delete #{@project.title}",
                        project_path(@project),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit #{@project.title}",edit_project_path(@project)%>
      <% end %>
    </div>
  </div>

  <% if current_user != @project.user %>
    <div class="first-important-btn">
      <% if  @project.participations.map(&:user).include?(current_user) %>
        <%= link_to "Cancel my application", participation_path(@request_participation),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          JOIN THE PROJECT
        </button>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row mt-5">
  <div class="col-8">
    <div class="resum-project-box">
      <div class="resum-project-title">
        <h5><%= @project.title %></h5>
        <h6><%= @project.tag %></h6>
      </div>
      <hr>
      <div class="resum-project-content">
        <div class="resum-project-description">
          <p><%= @project.description %></p>
        </div>
        <div class="web-link">
          <%= link_to "https://github.com/eliottmogenet/side-ninjas", class: "github-link", target: "_blank" do %>
            <div class="second-important-btn">
                <p>See on Github : </p>
                <p><i class="fab fa-github ml-2"></i></p>
            </div>
          <% end %>
          <%= link_to "https://trello.com/b/VrAHeTI5/side-ninjas", class: "github-link", target: "_blank" do %>
            <div class="second-important-btn">
                <p>See on Trello : </p>
                <p><i class="fab fa-trello ml-2"></i></p>
            </div>
          <% end %>
          <%= link_to "https://trello.com/b/VrAHeTI5/side-ninjas", class: "github-link", target: "_blank" do %>
            <div class="second-important-btn">
                <p>See the product : </p>
                <p><i class="fas fa-globe ml-2"></i></p>
            </div>
          <% end %>
        </div>
        <div class="resum-project-images">
          <% if @project.photos.attached? %>
            <p>Photos of the project</p>
            <div class="resum-project-pictures">
              <% @project.photos.each do |photo| %>
                <%= cl_image_tag photo.key, class: "resum-project-photos" %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="<%= (controller.controller_name == "projects" && controller.action_name == "index") ? "resum-project-tags" : "resum-project-tags-show" %>">
          <% @project.project_languages.each do |tag| %>
            <div class="skills-btn">
              <%= cl_image_tag tag.language.photo.key, class: "language-tag-img" %>
              <p><%= tag.language.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="team-box">
      <div class="team-box-title">
        <h5>Team</h5>
      </div>
      <hr>
      <div class="team-members">
        <div class="members-container">
          <% @project.participations.each do |participation| %>
              <div class="resum-member">
                <div class="member-infos">
                  <% if participation.user.photo.attached? %>
                    <%= cl_image_tag participation.user.photo.key, class: "avatar-large mr-3" %>
                  <% else %>
                    <%= image_tag 'eric-zemmour.jpeg', class: "avatar-large mr-3" %>
                  <% end %>
                  <div class="member-name-batch">
                    <h5><%= participation.user.first_name.capitalize %> <%= participation.user.last_name.capitalize %></h5>
                    <p>#Batch <%= participation.user.batch_number %> (<%= participation.user.city %>)</p>
                  </div>
                  <div class="admin-btn">
                    <% if @project.user.id == participation.user.id %>
                      <p>Admin</p>
                    <% else %>
                      <p>Member</p>
                    <% end %>
                  </div>
                </div>
                <div class="member-skills">
                  <% participation.user.user_languages.each do |language| %>
                    <% if language.languages.frameworks.nil? %>
                      <div class="one-skill">
                        <div class="skills-btn">
                          <i class="fab fa-js-square"></i>
                          <p><%= language.languages.name %></p>
                        </div>
                        <div class="skills-btn">
                          <i class="fab fa-js-square"></i>
                          <p><%= language.level %></p>
                        </div>
                      </div>
                    <% else %>
                      <% language.languages.frameworks.each do |framework| %>
                        <div class="one-skill">
                          <div class="skills-btn">
                            <i class="fab fa-js-square"></i>
                            <p><%= language.languages.name %> <%= language.languages.framework.name %></p>
                          </div>
                          <div class="skills-btn">
                            <i class="fab fa-js-square"></i>
                            <p><%= language.level %></p>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
        <div class="second-important-btn mt-4">
          <i class="fab fa-slack"></i>
          <%= simple_form_for([@project.user, @chatroom]) do |f| %>
            <%= f.hidden_field :project, value: @project.id %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% @project.features.each_with_index do |feature, index| %>
  <div class="features-background">
    <div class="features-title">
      <h5>Main feature #<%= index + 1 %>: <%= feature.name %></h5>
    </div>
    <hr>
    <div class="features-logos">
      <div class="features-avatars">
        <img src="https://futhead.cursecdn.com/static/img/19/players/158023.png" class="avatar-large">
        <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2F2018.2F10.2F18.2F2ccbda1a-7cf3-4858-8b56-36840d5b9b19.2Ejpeg/480x480/quality/80/focus-point/1447%2C851/cristiano-ronaldo-dans-la-tourmente-c-est-parti-pour-durer.jpg" class="avatar-large">
      </div>
    </div>

    <div class="features-description">
      <p><%= feature.description %></p>
    </div>
    <div class="features-languages">
      <% feature.feature_languages.each do |language| %>
        <% if language.languages.frameworks.nil? %>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p><% language.languages.name %></p>
          </div>
        <% else %>
          <% language.languages.frameworks.each do |framework| %>
          <div class="skills-btn">
            <i class="fab fa-js-square"></i>
            <p><% language.languages.name %> <%= language.languages.framework %></p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply to join <%= @project.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'participations/new' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

