<div class="container" data-controller="languages">
  <div class="select-your-skills">
    <h1> Select your skills</h1>
    <p> complete at least 4 web languages you want to improve</p>
    </div>
    <div class="languages-selection">
      <div class="row p-5">
        <% @languages.each do |language| %>
          <div class="col-3 image-select" data-id="<%= language.id %>" data-action="click->languages#checkLanguage">
            <%= cl_image_tag language.photo.key, crop: :fill, class: "" %>
            <%= language.name %>
          </div>
        <% end %>
      </div>
  </div>
    <%#= language.name %>


  <%= simple_form_for @user_language do |f| %>
    <%#= f.association :language, label_method: :photo, as: :check_boxes, :input_html => {:multiple => true} %>


    <%= f.association :language,
       :as => :check_boxes,
       item_wrapper_tag: :div,
       item_wrapper_class: "image-select d-none",
       # :collection => @languages,
       :label => false,
       :inline_label => false,
       include_blank: false,
       include_hidden: false,
       :input_html => {multiple: true, data: {target: "languages.checkbox"} },
       # :label_method => lambda { |b| cl_image_tag(b.photo.key)},
       value_method: :id %>

    <%= button_tag type: 'submit', class: "submit-btn" do %>
      Next step <i class="fas fa-arrow-right"></i>
    <% end %>

  <% end %>
</div>
