<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'ninja-icon.jpg'%>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <title>SideNinjas - Start the side project of your dream.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="custom-container">
      <% if user_signed_in? %>
        <%= render 'shared/left-side-bar' unless controller.controller_name == "pages" && controller.action_name == "home" %>
      <% end %>
      <%= render "shared/search-bar-index" if controller.controller_name == "projects" && controller.action_name == "index" %>
      <%#= render "shared/chatrooms-contacts" if controller.controller_name == "chatrooms" && controller.action_name == "index" %>
      <% if controller.controller_name == "chatrooms" %>
        <div class="chatrooms-container">
          <%= yield %>
        </div>
      <% else %>
        <div class="main-info <%= 'with-search-sidebar' if controller.controller_name == 'projects' && controller.action_name == 'index' %> <%= 'with-sidebar' unless (controller.controller_name == 'pages' && controller.action_name == 'home') || (controller.controller_name == 'projects' && controller.action_name == 'index') %>">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>

