<!DOCTYPE html>
<html>
  <head>
    <title>SideNinjas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% if user_signed_in? && controller.controller_name != "pages"%>
      <div class="user-avatar-profil">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar-large mr-3 avatar-large dropdown-toggle", id: "navbarDropdown" %>
          <!-- <img src="https://tel.img.pmdstatic.net/fit/https.3A.2F.2Fprd2-tel-epg-img.2Es3-eu-west-1.2Eamazonaws.2Ecom.2FproviderPerson.2Fg70096985ac51ebe8.2Ejpeg/300x300/quality/80/eric-zemmour.jpeg" class="avatar-large dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="custom-container">
      <%#= render 'shared/left-side-bar' %>
      <% if user_signed_in? %>
        <%= render 'shared/left-side-bar' unless controller.controller_name == "pages" && controller.action_name == "home" %>
      <% end %>
      <%= render "shared/search-bar-index" if controller.controller_name == "projects" && controller.action_name == "index" %>
      <div class="main-info <%= "with-search-sidebar" if controller.controller_name == "projects" && controller.action_name == "index" %> <%= "with-sidebar" unless (controller.controller_name == "pages" && controller.action_name == "home") || (controller.controller_name == "projects" && controller.action_name == "index") %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

