<!DOCTYPE html>
<html>
  <head>
    <title>SideNinjas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="custom-container">
      <%#= render 'shared/left-side-bar' %>
      <% if user_signed_in? %>
        <%= render 'shared/left-side-bar' unless controller.controller_name == "pages" && controller.action_name == "home" %>
      <% end %>
      <%= render "shared/search-bar-index" if controller.controller_name == "projects" && controller.action_name == "index" %>
      <div class="main-info <%= "with-search-sidebar" if controller.controller_name == "projects" && controller.action_name == "index" %> <%= "with-sidebar" unless (controller.controller_name == "pages" && controller.action_name == "home") || (controller.controller_name == "projects" && controller.action_name == "index") %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

